doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
        link(rel="stylesheet" href="../styles/style.css")
    body
        a(href="/" class="event-link") Nazad

        form(action="/reservation" method="post")
            div(class="container")
                h1 Rezervacija termina
                p Odaberite vrijeme i unesite kontakt telefon

                hr

                <b>Termin</b>
                select(name="time" id="time")
                    each slot in freeSlots 
                        option(value=slot.ID) #{slot.vrijeme}

                label(for="tel") <b>Broj telefona</b>
                input(type="text" placeholder="Upišite broj" name="tel" id="tel" required)

                input(type="hidden" id="year" name="year" value=date.year)
                input(type="hidden" id="month" name="month" value=date.month)
                input(type="hidden" id="day" name="day" value=date.day)

                button(type="submit") Rezerviraj 
            