doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Proizvodi
        link(rel="stylesheet" href="../styles/style.css")
    body
        a(href="/" class="event-link") Nazad

        div(class="container")
            h1 Proizvodi
            p
                a(href="products/addProduct" class="event-link") Dodaj novi proizvod!

            if care[0]
                hr
                h2 Njega
                div(class="gallery")
                    each product in care
                        div(class="gallery-item")
                            div(class="image-container") 
                                h3 #{product.ime}
                                p #{product.opis}
                                p #{product.cijena} €
                                a(href=`/products/updateProduct?id=${product.id}` class="event-link") Detalji

            if styling[0]
                hr
                h2 Styling
                div(class="gallery")
                    each product in styling
                        div(class="gallery-item")
                            div(class="image-container") 
                                h3 #{product.ime}
                                p #{product.opis}
                                p #{product.cijena} €
                                a(href=`/products/updateProduct?id=${product.id}` class="event-link") Detalji

            if equipment[0]
                hr
                h2 Oprema
                div(class="gallery")
                    each product in equipment
                        div(class="gallery-item")
                            div(class="image-container") 
                                h3 #{product.ime}
                                p #{product.opis}
                                p #{product.cijena} €
                                a(href=`/products/updateProduct?id=${product.id}` class="event-link") Detalji


            