doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Doradi proizvod
        link(rel="stylesheet" href="../styles/style.css")
        
    body
        a(href="/products" class="event-link") Nazad

        h1 Ažuriranje podataka za: #{product.ime}
   

        form(action="/products/putProduct" method="post")
            div(class="container")
                div(class="form-el")
                    label(for="Kategorija") <b>Kategorija proizvoda: </b>
                    select(name="id_kategorija" id="id_kategorija")
                        if product.idKategorija === 0
                            option(value=0 selected="selected") Njega
                        else 
                            option(value=0) Njega

                        if product.idKategorija === 1
                            option(value=1 selected="selected") Styling
                        else 
                            option(value=1) Styling

                        if product.idKategorija === 2
                            option(value=2 selected="selected") Oprema
                        else 
                            option(value=2) Oprema

                div(class="form-el")
                    label(for="Ime") <b>Ime proizvoda: </b>
                    input(type="text" value=`${product.ime}` name="ime" id="ime" required)

                div(class="form-el")
                    label(for="Opis") <b>Opis proizvoda: </b>
                    input(type="text" value=`${product.opis}` name="opis" id="opis" required)

                div(class="form-el")
                    label(for="Cijena") <b>Cijena proizvoda: </b>
                    input(type="text" value=`${product.cijena}` name="cijena" id="cijena" required)

                input(type="hidden" id="id" name="id" value=`${product.id}`)


                button(id="update-product" type="submit") Ažuriraj

        button(id="delete-product" onclick=`if(confirm("Potvrdite brisanje!")){fetch('/products?id='+${product.id},{method: 'DELETE'}); window.location.href = "/products";}`) Obriši proizvod!
        
        if success
            p(id="update-success") Podaci ažurirani!

        hr

        h2 Dostave
        a(href=`../deliveries/addDelivery?product_id=${product.id}` class="event-link") Dodaj dostavu!
        div(class="gallery")
            each delivery in deliveries
                div(class="gallery-item")
                    div(class="image-container")
                        h3(style="color:yellow") <b>#{delivery.supplier.ime}</b>
                        p #{delivery.supplier.email}
                        p Nabavna cijena: <b>#{delivery.buyingPrice} €</b>
                        p Prosječno dana potrebnih za dostavu: <b>#{delivery.avgDaysToDeliver}</b>
                        a(href=`../deliveries/updateDelivery?product_id=${product.id}&supplier_id=${delivery.supplier.id}` class="event-link") Uredi! <br>
                        button(id="delete-product" onclick=`if(confirm("Potvrdite brisanje!")){fetch('/deliveries?id_product='+${product.id}+'&id_supplier='+${delivery.supplier.id},{method: 'DELETE'}); window.location.href = "/products/updateProduct?id="+${product.id};}`) Obriši!


                
            